@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Georgia;
}
/* 
.header {
    display: flex;
    justify-content: space-between;
    /* height: 80px; */
    /* background-color: rgb(239, 173, 218); */
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/027/671/391/non_2x/pepperoni-pizza-on-the-wooden-board-with-dark-lighting-and-black-background-food-and-delivery-concept-generative-ai-free-photo.jpg"); 
    background-size: 85% 80px;
    height: 10rem;
} 
*/
button {
    font-family: Georgia;
}


.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin-right: 40px;
    color: white;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.logofood {
    width: 280px;
    height: 300px;
}
/* 
.logofood:hover {
    width:330px;
    height:320px;
} */

.res-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.res-card {
    padding: 8px;
    margin: 25px;
    width: 280px;
    height: 486.225px;
    margin-bottom: 60px;
    margin-top: 30px;
    /* height: 430.23px; */
    position: relative;
    z-index: 5;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 1px 1px 20px black;
}

.res-card > p {
    line-height: 11px;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 250px;
}




.filter-btn:hover {
    box-shadow: 5px 5px 20px rgb(23, 22, 22);
}
.click_search:hover {
    box-shadow: 5px 5px 20px rgb(23, 22, 22);
}

.filter {
    display: flex;
}

/* .footer {
    background-color: rgb(255, 132, 0);
    height: 700px;
    margin-top: 70px;
} */

.shimmer-card {
    margin: 35px;
    width: 280px;
    height: 350px;
    background-color: rgb(208, 200, 200);
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

.login {
    padding: 0 20px;
    cursor: pointer;
}









/* 
/* User 
.abc {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.user-card {
  padding: 20px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.user-card h2 {
  margin-bottom: 10px;
}

.user-card h3 {
  margin-bottom: 10px;
}

.user-card h4 {
  margin-bottom: 10px;
} */






